<!DOCTYPE html>
<html>
<head>
<title>FASTAPI</title>
</head>
<body>

<h1>The Original Image is:-</h1>

<img src="{{ url_for('celio', path=original_image.id) }}" width="500" height="300">

<h1>The Recommended images are:-</h1>
<img src="{{ url_for('celio', path=recommended_image.id1) }}" width="500" height="300">
<img src="{{ url_for('celio', path=recommended_image.id2) }}" width="500" height="300">
<img src="{{ url_for('celio', path=recommended_image.id3) }}" width="500" height="300">
<img src="{{ url_for('celio', path=recommended_image.id4) }}" width="500" height="300">
<img src="{{ url_for('celio', path=recommended_image.id5) }}" width="500" height="300">

</body>
</html>